<div class="tabs">
  <div class="tab">
    <button class="tablinks active" onclick="loadAccounts(); openTab(event, 1)">From Secret</button>
    <button class="tablinks" onclick="openTab(event, 2); ">From Seed Words</button>
    <button class="tablinks" onclick="hideAccountSection();setDefaultDerivationPath();cleanLedgerInfo();openTab(event, 3); ">Link
      Ledger</button>
    <button class="tablinks" onclick="hideAccountSection();openTab(event, 4)">Add Address Only</button>
  </div>

  <div class="tabcontentalways">

  </div>

  <div class="tabcontent" style="display: block;">
    <div include-html="./components/importFromSecret.html"></div>
  </div>

  <div class="tabcontent" style="display: none;">
    <div include-html="./components/importFromMnemonic.html"></div>
  </div>

  <div class="tabcontent" style="display: none;">
    <div include-html="./components/linkLedger.html"></div>
  </div>

  <div class="tabcontent" style="display: none;">
    <div include-html="./components/add-address.html"></div>
  </div>

</div>

<!-- Import HTML components -->
<script src="./utils/include-html.js"></script>