Select a curve and derivation path or
<button class="centertextbutton" onClick='loadLedgerAccountFromWallet()'>retrieve account parameters</button> from
wallet.
<div>
  <div style="margin-top: 10px;">
    <span class="item">Curve:</span>
    <select id="curve" class="select">
      <option value="tz1" selected>ed25519 (tz1)</option>
      <option value="tz2">secp256k1 (tz2)</option>
      <option value="tz3">p256 (tz3)</option>
    </select>
  </div>
  <div style="margin-top: 10px;">
    <span class="item">Derivation Path:</span>
    <input id="derivationPath" oninput="updateDerivationPath(this.value)" class="regular" />
    <button class="button" onclick="setDefaultDerivationPath();">Default</button>
    <button class="button" onclick="updateDerivationPath('44h/1729h/0h/0h/0h');">Galleon</button>
  </div>

  <div style="margin-top:20px">
    Open Tezos on your connected Ledger Hardware Wallet and
    <button class="centertextbutton" onClick='loadLedger()'>unlock account</button>.
  </div>
  <div style="margin-top: 10px;">
    <div id="ledgerAppVersion"></div>
    <div id="ledgerAccountName"></div>
    <div id="ledgerPubKey"></div>
    <div id="ledgerPkh"></div>
    <div id="spendableBalance"></div>
  </div>
</div>

<script>
  // Set Defaults
  setDefaultDerivationPath();
  /**
   *  Load Ledger From Wallet
   */
  const loadLedgerAccountFromWallet = () => {
    cleanLedgerInfo();
    $(".modal-title").text('Select an Account');
    $(".modal-body").html(`
    <div style="display: block;">
      <div id="wallet-empty" style="display: none;">
        <div class="form-header">
          Create a wallet
        </div>
        <form class="form-body" onsubmit="createWallet(event)" autocomplete="off">
          <div class="form-error create-wallet-error" style="display: none;"></div>
          <div class="inputSection">
            <span class="item">Password:</span>
            <input type='password' id='cw-password' class="textInput" value='' />
          </div>
          <div class="inputSection">
            <span class="item">Confirm password:</span>
            <input type='password' id='cw-confirm' class="textInput" value='' />
          </div>
        </form>
        <div class="form-footer">
          <button onclick="createWallet(event)">Create wallet</button>
        </div>
      </div>

      <div id="wallet-locked" style="display: none; flex-direction: column; align-items: center;">
        <div class="form-header">
          The wallet is locked
        </div>
        <form class="form-body" onsubmit="unlockLedgers(event)" autocomplete="off">
          <div class="form-error unlock-wallet-error" style="display: none;"></div>
          <div class="inputSection">
            <span class="item">Password:</span>
            <input type='password' id='uw-password' class="textInput" value='' />
          </div>
        </form>
        <div class="form-footer">
          <button onclick="unlockLedgers(event)">Unlock wallet</button>
        </div>
      </div>

      <div id="wallet-unlocked" style="display: none; flex-direction: column; align-items: center;">
        <h3 id="ledgerAccountEmptyList"></h3>
        <select id='ledgerAccountSelect' onchange="updateLedgerAccountInfo()" class="select">
          <!-- LEDGER ACCOUNTS -->
        </select>
        <div id="ledgerLoader" style="display: none;">
          <span>Check your Ledger...</span>
          <div class="loader"></div>
        </div>
        <h4 id="ledgerLoadResult" style="margin-top:20px; display:none;"></h4>
        <div class="accountInfo" style="display: none; margin-top: 20px;">
          <span class="item">Account Name:</span> <input type='text' class='accountName' style="width:300px;" readonly/><br>
          <span class="item">Account Address:</span> <input type='text' class='accountPkh' style="width:300px;" readonly/><br>
          <span class="item">Account Address (Ledger):</span> <input type='text' class='accountPkhLedger' style="width:300px;" readonly/><br>
          <span class="item">Curve:</span>
          <input type='text' class='curve' style="width:300px;" readonly/><br>
          <span class="item">Derivation Path:</span>
          <input type='text' class='derivationPath' style="width:300px;" readonly/><br>
          <span class="item">Spendable Balance:</span>
          <input type='text' class='accountSpendableBalance' style="width:300px;" readonly/>
          <img class="nav-icon" src="./svgs/tezos-xtz-logo.svg"/>
        </div>
      </div>
    </div>`
    );
    $("#modal-submit-button").unbind('click').click(hideModal).hide();

    $(".modal-dialog").removeClass("modal-lg modal-sm").addClass("modal-lg")

    $("#modal").modal();

    let storageState = SmartpyWallet.account.state();

    if (storageState === "Unlocked") {
      $("#wallet-unlocked").css('display', 'flex');
      loadLedgerAccounts();
    } else if (storageState === "Empty") {
      $("#wallet-empty").show();
    } else if (storageState === "Locked") {
      $("#wallet-locked").show();
    } else {
      setTimeout(() => showModal({
        title: "Wallet Error",
        content: "The storage got corrupted :( <br/><br/> The wallet will be restarted.",
        cancelAction: false,
        acceptAction: false,
        small: false
      }), 500);

      SmartpyWallet.account.clear();
    }
  }
  /**
   *  Load ledger accounts.
   */
  const loadLedgerAccounts = () => {
    clearLedgerAccounts();

    const accountSelect = $("#ledgerAccountSelect");
    const accounts = SmartpyWallet.account.findAll([SmartpyWallet.constants.accountTypes.LEDGER]);

    if (accounts && Object.keys(accounts).length > 0) {
      $("#ledgerAccountEmptyList").html("");
      accountSelect.show();
      Object.keys(accounts).forEach((account) => {
        accountSelect.append(`<option value="${accounts[account].id}">${accounts[account].name}</option>`);
      });
    } else {
      accountSelect.hide();
      $("#ledgerAccountEmptyList").html(`No Ledger accounts found, use <a href='wallet'>wallet</a> page to add an one.`);
    }
  }
  /**
   *  Clear All accounts from select.
   */
  const clearLedgerAccounts = (clearSelect = true /*True By Default*/) => {
    $(".accountInfo").hide();
    clearSelect && $("#ledgerAccountSelect").html('<option value="">Select an account</option>');
    $(".accountName").val("");
    $(".accountPkh").val("");
    $(".curve").val("");
    $(".derivationPath").val("");
    $(".accountBalance").val("");
    $("#ledgerLoadResult").text("").hide();
  }
  /**
   *  Called when a ledger account is selected.
   */
  const updateLedgerAccountInfo = async () => {
    const account = SmartpyWallet.account.findById($("#ledgerAccountSelect").val());

    // Clear old state
    clearLedgerAccounts(false);

    if (account) {
      $("#curve").val(account.address.slice(0, 3));
      $("#derivationPath").val(account.derivationPath);

      $("#ledgerLoader").show();
      // Wait for the user to unlock the wallet
      await loadLedger();
      $("#ledgerLoader").hide();

      // Validate the address returned by the Ledger against the recorded address
      if (keystore.publicKeyHash !== account.address) {
        // Account mismatch (fail & clear old states)
        $("#ledgerLoadResult").text("Aborted, account address mismatch.").show();
        cleanLedgerInfo();
      }
      else {
        $("#sourceAddress").val(account.address);
        $("#ledgerLoadResult").text("The account matches with the one in the ledger!").show();

        // Spendable address
        const spendableBalance = await conseiljs.TezosNodeReader.getSpendableBalanceForAccount(
          providerId.value,
          account.address
        );
        $(".accountSpendableBalance").val((spendableBalance / 1000000).toFixed(6));

        $("#ledgerAccountName").html(`<span class="item">Account Name:</span> <input value="${account.name}" readonly class="regular"/>`);
      }

      $(".accountName").val(account.name);
      $(".accountPkh").val(account.address);
      $(".accountPkhLedger").val(keystore.publicKeyHash);
      $(".curve").val(CurveNames[account.address.slice(0, 3)]);
      $(".derivationPath").val(account.derivationPath);

      $(".accountInfo").show();

      $("#modal-cancel-button").hide();
      $("#modal-submit-button").show();
    }
  }
  /**
   *  Unlock saved ledgers
   */
  const unlockLedgers = (e) => {
    e.preventDefault();
    // Hide error on new attempt
    $(".unlock-wallet-error").hide();

    const password = $("#uw-password").val();

    // Unlock the wallet
    try {
      SmartpyWallet.account.unlock(password);
      // Clean and hide form
      $("#wallet-locked").hide();
      $("#uw-password").val("");
      // Reload wallet
      loadLedgerAccountFromWallet();
    } catch (e) {
      showModal({
        title: "Wallet Error",
        content: e.message,
        cancelAction: false,
        acceptAction: false,
        small: false
      });
    }
  }
</script>
