<div id="wallet-widget">
  Retrieve
  <button class="centertextbutton" onclick="openAccountSelection(true);">faucet</button> or
  <button class="centertextbutton" onclick="openAccountSelection();">implicit</button> account from wallet.

  <div class="accountInfo" style="display: none; margin-top:20px;">
    <span class="item">Account Name:</span> <input type='text' class='accountName' style="width:300px;" readonly /><br>
    <span class="item">Account Address:</span> <input type='text' class='accountPkh' style="width:300px;"
      readonly /><br>
    <span class="item">Spendable Balance:</span> <input type='text' class='accountSpendableBalance' style="width:300px;"
      readonly />
    <img class="nav-icon" src="./svgs/tezos-xtz-logo.svg" />
  </div>
</div>

<script>
  /**
   *  Clear All accounts from select.
   */
  const clearAccounts = (isFaucet) => {
    const divPrefix = isFaucet ? 'faucetAccount' : 'account';
    $(".accountInfo").hide();
    $(`#${divPrefix}Info`).hide();
    $(`#${divPrefix}Select > option`).remove();
    $(`#${divPrefix}Select`).append('<option value="">Select an account</option>');
    $(`.accountName`).val("");
    $(`.accountPkh`).val("");
    $(`.accountBalance`).val("");
    $("#sourceAddress").val("");
    keystore = {
      publicKey: '',
      secretKey: '',
      publicKeyHash: '',
      seed: '',
      storeType: 1
    };
  }
  /**
   *  When an account is selected.
   */
  const onAccountSelect = (isFaucet) => {
    if (isFaucet) {
      SmartpyWallet.faucet.select($("#faucetAccountSelect").val());
    } else {
      SmartpyWallet.account.select($("#accountSelect").val());
    }
    updateAccountInfo(isFaucet);
  }
  /**
   *  Update selected account info
   */
  const updateAccountInfo = async (isFaucet) => {
    const account = SmartpyWallet[isFaucet ? 'faucet' : 'account'].getSelected();
    if (account) {
      $(".accountName").val(account.name);
      $(".accountPkh").val(account.address);
      $("#sourceAddress").val(account.address);

      // Spendable address
      const spendableBalance = await conseiljs.TezosNodeReader.getSpendableBalanceForAccount(
        providerId.value,
        account.address
      );
      $(".accountSpendableBalance").val((spendableBalance / 1000000).toFixed(6));
      $(".accountInfo").show();

      keystore = {
        publicKey: account.publicKey,
        secretKey: account.privateKey,
        publicKeyHash: account.address,
        storeType: conseiljs.KeyStoreType.Fundraiser
      };
    }
  }
  /**
   *  Load accounts.
   */
  const loadAccounts = (isFaucet) => {
    clearAccounts(isFaucet);
    const divPrefix = isFaucet ? 'faucetAccount' : 'account';
    const accountSelect = $(`#${divPrefix}Select`);
    const accounts = SmartpyWallet[isFaucet ? 'faucet' : 'account'].findAll(isFaucet ? null : [SmartpyWallet.constants.accountTypes.NORMAL]);

    if (accounts && Object.keys(accounts).length > 0) {
      $(`#${divPrefix}EmptyList`).html("");
      accountSelect.show();
      Object.keys(accounts).forEach((account) => {
        accountSelect.append(`<option value="${accounts[account].id}">${accounts[account].name}</option>`);
      });
    } else {
      accountSelect.hide();
      $(`#${divPrefix}EmptyList`).html(`No valid accounts found, use <a href='wallet'>wallet</a> page to add an account.`);
    }
  }
  const unlockWallet = (e) => {
    e.preventDefault();
    // Hide error on new attempt
    $(".unlock-wallet-error").hide();

    const password = $("#uw-password").val();

    // Unlock the wallet
    try {
      SmartpyWallet.account.unlock(password);
      // Reload wallet
      loadWallet();
      // Clean and hide form
      $("#wallet-locked").hide();
      $(".unlock-wallet-error").hide().text("");
      $("#uw-password").val("");
    } catch (e) {
      showModal({
        title: "Wallet Error",
        content: e.message,
        cancelAction: false,
        acceptAction: false,
        small: false
      });
    }
  }
  /**
   *  Open Account Selection
   */
  const openAccountSelection = (isFaucet) => {
    let content;
    if (isFaucet) {
      content = `
        <div style="display: flex; flex-direction: column; align-items: center;">
          <h3 id="faucetAccountEmptyList"></h3>
          <select id='faucetAccountSelect' onchange="onAccountSelect(true)" class="select">
            <!-- FAUCET ACCOUNTS -->
          </select>
          <br/>
          <div class="accountInfo" style="display: none;">
            <span class="item">Account Name:</span> <input type='text' class='accountName' style="width:300px;" readonly/><br>
            <span class="item">Account Address:</span> <input type='text' class='accountPkh' style="width:300px;" readonly/><br>
            <span class="item">Spendable Balance:</span> <input type='text' class='accountSpendableBalance' style="width:300px;" readonly/>
            <img class="nav-icon" src="./svgs/tezos-xtz-logo.svg"/>
          </div>
        </div>`;
    } else {
      content = `
        <div style="display: block;">
          <div id="wallet-empty" style="display: none;">
            <div class="form-header">
              Create a wallet
            </div>
            <form class="form-body" onsubmit="createWallet(event)" autocomplete="off">
              <div class="form-error create-wallet-error" style="display: none;"></div>
              <div class="inputSection">
                <span class="item">Password:</span>
                <input type='password' id='cw-password' class="textInput" value='' />
              </div>
              <div class="inputSection">
                <span class="item">Confirm password:</span>
                <input type='password' id='cw-confirm' class="textInput" value='' />
              </div>
            </form>
            <div class="form-footer">
              <button onclick="createWallet(event)">Create wallet</button>
            </div>
          </div>

          <div id="wallet-locked" style="display: none; flex-direction: column; align-items: center;">
            <div class="form-header">
              The wallet is locked
            </div>
            <form class="form-body" onsubmit="unlockWallet(event)" autocomplete="off">
              <div class="form-error unlock-wallet-error" style="display: none;"></div>
              <div class="inputSection">
                <span class="item">Password:</span>
                <input type='password' id='uw-password' class="textInput" value='' />
              </div>
            </form>
            <div class="form-footer">
              <button onclick="unlockWallet(event)">Unlock wallet</button>
            </div>
          </div>

          <div id="wallet-unlocked" style="display: none; flex-direction: column; align-items: center;">
            <h3 id="accountEmptyList"></h3>
            <select id='accountSelect' onchange="onAccountSelect()" class="select">
              <!-- ACCOUNTS -->
            </select>
            <br/>
            <div class="accountInfo" style="display: none;">
              <span class="item">Account Name:</span> <input type='text' class='accountName' style="width:300px;" readonly/><br>
              <span class="item">Account Address:</span> <input type='text' class='accountPkh' style="width:300px;" readonly/><br>
              <span class="item">Spendable Balance:</span> <input type='text' class='accountSpendableBalance' style="width:300px;" readonly/>
              <img class="nav-icon" src="./svgs/tezos-xtz-logo.svg"/>
            </div>
          </div>
        </div>`;
    }
    showModal({
      title: isFaucet ? 'Select a Faucet Account' : 'Select an Account',
      content: content,
      cancelAction: false,
      acceptAction: false,
      small: false
    })
    loadWallet(isFaucet);
  }
  const createWallet = (e) => {
    e.preventDefault();
    // Hide error on new attempt
    $(".create-wallet-error").hide();

    const password = $("#cw-password").val();
    const confirmation = $("#cw-confirm").val();

    // Password must have at least 6 chars
    if (!password || password.length < 6) {
      $(".create-wallet-error")
        .text("The password must have at least 6 characters.")
        .show();
      return;
    }

    // Password must match with the confirmation
    if (password != confirmation) {
      $(".create-wallet-error")
        .text("Password is not equal to the confirmation password.")
        .show();
      return
    }

    // Initialize the wallet and save it on the local storage
    try {
      SmartpyWallet.account.init(password);
      // Reload wallet
      loadWallet();
      // Clean and hide form
      $("#wallet-empty").hide();
      $(".create-wallet-error").hide().text("");
      $("#cw-confirm").val("");
      $("#cw-password").val("");
    } catch (e) {
      showModal({
        title: "Wallet Error",
        content: e.message,
        cancelAction: false,
        acceptAction: false,
        small: false
      });
    }
  }
</script>

<!-- Loader -->
<script>
  const loadWallet = (isFaucet) => {
    let storageState = SmartpyWallet.account.state();

    if (storageState === "Unlocked") {
      $("#wallet-unlocked").css('display', 'flex');
      loadAccounts(isFaucet);
    } else if (storageState === "Empty") {
      $("#wallet-empty").show();
    } else if (storageState === "Locked") {
      $("#wallet-locked").show();
    } else {
      setTimeout(() => showModal({
        title: "Wallet Error",
        content: "The storage got corrupted :( <br/><br/> The wallet will be restarted.",
        cancelAction: false,
        acceptAction: false,
        small: false
      }), 500);

      SmartpyWallet.account.clear();
    }
    isFaucet && loadAccounts(true);
  }
  loadWallet();
</script>
